$transition: all 0.3s ease;
$white: #fff;
$textBrown: #70563d;
$buttonBrown: #775b25;
$black: #1e1e1e;
$grey: #4b4b4b;
$brownHoverButton: #9e8555;

$mainFont: 'Noto Serif';
$moreFont: 'PT Sans', sans-serif;